#menu {
    background: rgba(0,0,0,0.6)!important;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 8px 80px;
}

nav .navbar-brand {
    font-weight: bold;
    color: #FFFFFF!important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 15%;
}

.nav-menu {
    padding-left: 10%;
}

nav ul li a {
    margin: 10px 20px 10px 10px;
    line-height: 27px;
    color: #fff!important;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-toggler-icon{
    border-color: #fff;
}